.grid{
    border: 1px solid;
    height: 600px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
   
    
}
p{position: absolute;}

.grid div {
          height: 50px;
            width: 50px;
             /* background-color: yellow; */
             

}




img{width: 50px;
    height: 50px;
    border-radius: 25px;
   

}
h1 {
    font-family: "Montserrat";
    font-size: 90px;
  }